.newsCard {
  min-width: 15rem;
  max-width: 24rem;
  margin: 1rem 1rem 0 0;
}

.newsCard .content {
  padding: 1rem;
}

@media only screen and (max-width: 879px) {
  .newsCard {
    min-width: 100%;
    max-width: 100%;
  }
}